# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
*.egg-info/
.eggs/
dist/
build/
*.egg

# Logs 
# С скрытымы логами из-за шаблонного .gitignore было правда очень не приятно
backend/logs/

# Tools
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.*
!.env.example
!**/.env.example

# OS
.DS_Store
Thumbs.db
